/* @media screen and (min-width:200px) and (max-width:900px) { */

    #atividade_1, #atividade_2, #div_warning, #div_ganha_pontos{
        display: none;
    }

    .div_titulo_atividade{        
        text-align: center;
        margin-top: 34px;        
    }

    .div_titulo_atividade span{
        color: #134663;
        text-transform: uppercase;
        font-size: 20px;
    }

    #div_desc_atividade_fisico{
        text-align: center;
        margin-top: 161px;
        padding-right: 39px;
        padding-left: 41px;
    }

    #div_desc_atividade_quiz{
        text-align: center;
        margin-top: 34px;
        padding-right: 39px;
        padding-left: 41px;
    }

    .descricao_atividade{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #134663;
    }

    #bar_buttons_atividade_1{
        text-align: center;
    }

    #bar_buttons_atividade_2{
        margin-top: 50px;
    }
   
    #btn_voltar_atividade{
        float: left;
        margin-left: 33px;
    }

    #btn_cancelar_quiz{
        float: left;
        margin-left: 31px;
    }

    #btn_seguinte_quiz{
        float: right;
        margin-right: 31px;
    }

    #alternativas_quiz{
        padding-left: 51px;
        margin-top: 82px;
    }

    .label_alternativa{
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #134663;
    }

    #bar_buttons_pontos button{
        width: 180px;
        margin-bottom: 7px;
    }

    #div_ganha_pontos{
        text-align: center;
    }

    #resposta_certa{
        margin-top: 55px;
    }

    #div_mensagem{
        margin-top: 30px;
    }

    #div_pontos_ganhos{
        margin-top: 39px;
    }

    #bar_buttons_pontos{
        margin-top: 72px;
    }

    #resposta_certa, #div_mensagem, #div_pontos_ganhos, #bar_buttons_pontos{
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #134663;
    }

    #div_warning{
        text-align: center;
    }

    #div_warning_span{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #134663;
        margin-top: 50%;
    }

    #btn_warning{
        width: 100px;
        margin-top: 15px;
    }


/* } */

