@media screen and (min-width:200px) and (max-width:900px) {

    #footer{
        position: absolute;
        width: 100%;
        height: 70px;
        left: 0px;
        bottom: 0;
        background: #00B3DE;
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    }

    .principais .patrocinador,.patrocinadores .patrocinador{
        width: 100%;
        height: 100%;
        top:10%;
    }

    .footer .row{
        padding-top: 5%;
        max-width: 100%;
        padding-left: 2%;
        display: flex;
    }

    .patrocinadores {
        display: none;
        /* background-color: currentColor; */
        padding-bottom: 2%;
    }
}

