
@media screen and (min-width:200px) and (max-width:900px) {
    body {
        margin: 0;
    }
    .form_input{
        width: 298px;
        height: 44px;
        background: #FFFFFF;
        outline: 0;
        border-width: 0 0 2px;
        border-color: #FFCB06;
        margin-bottom: 7px;
    }

    #btn-login{
        width: 99px;
    }

    #dataDeNascimento{
        width: 297px !important;
    }

    #div_form_login{
        text-align: center;
    }

    .div_btn_login{
        text-align: right !important;
        padding-right: 58px;
        margin-top: 13px;
    }

}

