html {
    height: 100%;
}

body{
    height: 100%;
    min-height: 600px;
    min-width: 350px;
}

#geral{
    min-height:100%;
    position:relative;
}

/* @media screen and (min-width:200px) and (max-width:900px) { */
    body {
        background-color: white;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;  
        margin-left: 0px;
        margin-right: 0px;    
        padding-right: 0px;
        padding-left: 0px;  
    }

    .btn_cancelar{
        background: #C52655;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
        border-radius: 1px;
        color: #FFFFFF;
        font-weight: 500;
        padding: 7px 10px 10px 10px;
        border-style: none;
        border-image: initial;
        font-size: 14px;
        height: 36px;
    }

    .btn_inicio{
        background: #FFCB06;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
        border-radius: 1px;
        color: #134663;
        font-weight: 500;
        padding: 7px 10px 10px 10px;
        border-style: none;
        border-image: initial;
        font-size: 14px;
        height: 36px;
    }

    .btn_troca_pontos{
        background: #6152A3;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
        border-radius: 1px;
        color: #FFFFFF;
        font-weight: 500;
        padding: 7px 10px 10px 10px;
        border-style: none;
        border-image: initial;
        font-size: 14px;
        height: 36px;
    }




/* } */

