/* @media screen and (min-width:200px) and (max-width:900px) { */

    body {
        background-color: transparent;
    }

    #title_ler_qr{
        text-align: center;
        margin-top: 18px;
        margin-bottom: 18px;
    }

    #div_image_load{
        text-align: center;
    }

    #webcameraPreview, #preview{
        width: 100%;
        height: 100%;
    }

    #img_load_qr{
        height: 100px;
    }

    #title_ler_qr .span_title_qr{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #134663;
    }

    #div_load{
        text-align: center;
        vertical-align: middle;
    }

    #div_btn_voltar_qr{
        /* margin-left: auto;
        margin-right: auto;
        width: 294px; */
        text-align: center;
        margin-top: 20px;
    }

    #load_img{
        width: 300px;
        height: 200px;        
    }

    #div_qr_screen{
        display: none;
        height: 358px;
        /* margin-left: auto;
        margin-right: auto;
        width: 125px; */
    }

    video#preview{
        max-width: 100%;
    }

/* } */

video#cordova-plugin-qrscanner-video-preview {
    max-width: 100%;
}

